<!DOCTYPE html>
{% extends "base.html" %}
{% load staticfiles %}
{% block body_block %}
<h1>Unikflo</h1>
<br>
<br>
<img src="{% static "images/title.png" %}" width=100%>
<br>
<div class="container">
 <div class="jumbotron">
  <h1 class="display-4"><center><strong>UNIKFLO </strong></center></h1>
  <br>
  <br>
  <p class="lead"><strong>UNIKFLO PUMPS </strong>with over 21 years of experience in manufacturing to sales & servicing, we strive to provide our customer the best and technologically most advanced pumps. Our aim is to provide water to Indian people at most competitive price with best of quality and performance.
<br>
<br>
At <strong>UNIKFLO PUMPS </strong>we now, with fully equipped manufacturing base at Gujarat & Punjab, offer all range from V3 sets, to V4 Submersible pumpset, V6, V7 & V8 Multistage, stainless steel motors to pump from range 1.0 HP(0.75KW) to 25.0 HP(18.5 KW) sets.
<br>
<br>
Since pumpsets are an integral part of our system its now a daily requirement product, so we focus on delivering the best of them with most competitive price to our customer. We are confident that our sale and service will satisfy each and every individual and we together will become a family.
</p>

  <hr class="my-4">
   </p>
</div>
</div>

  
{% endblock %}