<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% block body_block %}
<br>
<br>
<br>
<br>
<br>
<div class="jumbotron">
	<div class="container">
		<h1 class="display-4"><center><strong>Contact Us </strong></center></h1>
	</div>
	<br>
	<br>
	{% if registered %}
<h1>Thank You for your Interest {{name}}<br>
Your details have been saved successfully</h1>

{% else %}
<h3>Fill Out the form to get in touch</h3>
<form method="post">
	{% csrf_token %}
	{{ contact_forms.as_p }}
	<input class="btn btn-primary" type="submit" value="Register">
</form>
{% endif %}
<br>
<br>
	<h4><strong><center>Our Address</center></strong></h4> 
	<h4>
<strong>SM Associates</strong></h4>
<h5>B-1423, Pipal Wali Gali,<br> Opposite Eastend, Block C, Ashok Nagar Extension, New Ashok Nagar,<br>
 New Delhi, Uttar Pradesh 110096<br>
<strong>Contact Number :</strong> 7982358801, 9911558155<br>

</h5>
<p class="lead"><strong>Web :</strong> <a href="#">Unikflo.com</p></a>
<br>
<h6>For Lucknow Office <button type="button" class="btn btn-outline-primary"> Click</button></h6>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7006.578043313966!2d77.30684469549462!3d28.591105052620644!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xce2a816236001aa7!2sSM+Associates!5e0!3m2!1sen!2sin!4v1565466263098!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
<script type="text/javascript" src="{% static "scripts/LKO.js" %}"></script>
</div>

{% endblock %}